:root{
    font-size:40px;
}

.gallery{
    display:flex;
    flex-direction: row;
}
@media (min-width: 1200px) {
    .order {
        font-size: 1.8rem;
    }
    p{
        font-size: 0.7rem; 
    }
    
    
}

@media (max-width: 600px) {
    
    .order {
        font-size: 0.5rem;
        height: 0.5rem;
        line-height: 0.5rem;
        text-align: center;
    }
    p{
        padding: 1rem;
    }
    .order.line{
        width: 15%;
        border-top: 1px solid black;
    }
    .gallery{
        width: 20%;
        height:auto;
    }
   
    
}

