

.headline {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.headline .line {
    display: inline-block;
    width: 80%;
    border-top: 3px solid black;
    position:absolute;
    top:4%;
    
}

.headline .txt {
    color:#F1B254;
    vertical-align: middle;
    text-align: center;
    font-size: auto;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
    }

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 1rem;
    }

    h3{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }

    .time{
        font-style: italic;
    }
    .img{
            clear: both;
            display: block;
            margin:auto;
           }

.map{
    clear: both;
    display: block;
    margin:auto;
    width: 80%;
    height: auto;
  
}
    
