p {
  color: black;
  text-align: left;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}


body {
  background-color: black;
  height: 100%;
}

#footer {
  text-align: center;
}

div.container {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 550px;
  width: 80%;
}
li.container{
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 550px;
  width: 80%;
}

li {
  list-style: none;
}

/*lauren trying the nav bar again*/


* {
  font-family: 'Raleway', sans-serif, 'Times New Roman';
  margin: 0;
}

/*image size*/

.logo {
  width: 5px;
  float: left;
}

@media screen and (max-width: 700px) {
  .header img {
    display: none;
    width: 100%;
    margin-top: 0.5em;
  }
  .event img {
    display: none;
  }
  .googlemap{
    display: none;
  }
}

/*header and nav bar*/

.header {
  width: 100%;
  /*padding: 10px;*/
  text-align: center;
  color: black;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
  background-color: #E6B02E;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-gap: 5px;
  grid-template-areas: "a b" "a c";
}

.header img {
  grid-area: a;
  width: 80px;
  height: 80px;
  padding-left: 10px;
}

.header h1 {
  padding: 5px;
  padding-left: 5px;
  position: center;
  top: 20px;
  left: 0px;
  font-size: 20px;
}

/*nav bar style*/

.header nav .menu-trigger {
  grid-area: c;
}

.menu-trigger {
  float: right;
  padding-right: 10px;
  color: rgb(121, 91, 47);
  text-decoration: none;
  font-size: 1.75em;
  width: 2em;
}

#nav {
  display: none;
}

#nav li {
  display:flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  text-decoration: none;
}

nav #nav li a {
  color: whitesmoke;
  text-decoration: none;
  padding: 0em;
}

#nav li img {
  margin: 10px;
  width: 50px;
}

#nav a:link #nav a:visited {
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

#nav a:hover, #nav a:active {
  background-color: rgb(209, 155, 28);
}

.socialmedia {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding:0;
}

.socialmedia img {
  width: 50px;
  height: 50px;

  padding-bottom: 0px;
}

.socialmedia a {
  text-decoration: none;
}

.photos img {
  width: 90%;
}

.caption {
  text-align: center;
  color: black;
}
.humans_images{
  background-color:  white;
}
.humans_images img {
  padding: 1em 1em 1em 1em;
  width: 100%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  background-color:  rgb(247, 211, 129);
}

.humans_images a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.middle1 {
  background-color: #E6B02E;
  padding: 1%;
  text-align: center;
  width:30%;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.middle2 {
  background-color: #E6B02E;
  padding: 1%;
  text-align: center;
  width:30%;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.middle3 {
  background-color: #E6B02E;
  padding: 1%;
  text-align: center;
  width:30%;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

#head {
  text-align: center;
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
  font-size: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 8px;
  padding-top: 8px;
}

.sociallogos {
  width: 20%;
  height: 20%;
  float: center;
}

/*Chengzi-history and events css*/

.headline {
  width: 100%;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.txt {
  color: #E6B02E;
  vertical-align: middle;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  padding: 0.5rem;
}

.line1 {
  position: absolute;
  width: 10%;
  height: 0px;
  display: block;
  border: 1px solid white;
  top: 17px;
  left: 0;
}

.line2 {
  position: absolute;
  width: 10%;
  height: 0px;
  display: block;
  border: 1px solid white;
  top: 17px;
  right: 0;
}

.event .location{
  padding-block-end: 0em;
  font-weight: bold;
}
.event .time{
  padding-block-end: 0em;
}
.event p {
  padding: 1em;
}



.event h3 {
  padding: 1em;
  background-color: rgb(247, 211, 129);
}

.img {
  clear: both;
  display: block;
  margin: auto;
  width: 90%;
}

.map {
  clear: both;
  display: block;
  margin: auto;
  width: 100%;
  height: auto;}

  .googlemap {
    position: relative;
    padding-bottom: 75%; /* 此為地圖長寬比 */
    height: 0;
    overflow: hidden;
    text-align: center;

  }
  .googlemap iframe {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
  }
.mapcontainer{
 width:100%;
}

.h2 {
  background-color: white;
  text-align: center;
  font-family: 'raleway', sans-serif;
}

#footer {
  font-size: 12px;
  background-color: #E6B02E;
  color: white;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

/*slider*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */

.slidercontainer {
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
}

/* Hide the images by default*/

.Slides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images
.cursor {
  cursor: pointer;
}


/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.caption-container #caption {
  color: white;
  size: 1em;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */

.column {
  float: left;
  width: 25%;
  background-color: black;
}

/* Add a transparency effect for thumnbail images */

.demo {
  opacity: 0.6;
}

.active, .demo:hover {
  opacity: 1;
}

/*Chengzi end*/

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-area: a;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  .header {
    background-color: #E6B02E;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
    grid-template-areas: "a b" "a c";
  }
  .header img {
    grid-area: a;
    width: 150px;
    height: 150px;
  }
  .header h1 {
    grid-area: b;
    padding: 20px;
    padding-left: 10px;
    position: center;
    top: 20px;
    left: 0px;
    font-size: 50px;
  }
  /*nav bar style*/
  nav ul {
    display: grid;
    grid-area: c;
  }
  nav #nav {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: #E6B02E;
  }
  nav #nav li {
    border-top: none;
    padding: 1em;

  }
  nav #nav li a {
    font-size: 1.5em;
  }
  .menu-trigger {
    display: none;
  }
  header h1 {
    order: 1;
  }
  nav {
    order: 2;
  }


  .humans_images{
    text-align: center;
  }
  .humans_images:hover .humansimages {
    opacity: 0.8;
  }
  .humans_images:hover .middle1 {
    text-decoration: underline;
    box-shadow: 5px 5px 5px 2px rgb(209, 155, 28);
  }
  .humans_images:hover .middle2 {
    text-decoration: underline;
    box-shadow: 5px 5px 5px 2px rgb(209, 155, 28);
  }
  .humans_images:hover .middle3 {
    text-decoration: underline;
    box-shadow: 5px 5px 5px 2px rgb(209, 155, 28);
  }

  .humans_images img {
    padding: 2em;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color:  white;
  }

  .alumni-container {
    background-color: white;
    margin: 6px -10px;
    padding: 50px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: "a a a" "b b b" "c c c"

  }

  .alumni1 img{
    float: left;
    padding: 15px;
  }

  .alumni2 img{
    float: left;
    padding: 15px;
  }

  .alumni3 img{
    float: left;
    padding: 15px;
  }

  .alumni1 p{
    padding:
  }

  .alumni2 p{
    padding:
  }

  .alumni3 p{
    padding:

  }

  .alumni1 h1{
    padding: 15px;
    font-size: 25px;
  }

  .alumni2 h1{
    padding: 15px;
    font-size: 25px;
  }

  .alumni3 h1{
    padding: 15px;
    font-size: 25px;
  }

  .alumni-cards li {
    background-color: white;
    border: none;
    padding: 50px;
    border-radius: 1px;
  }
  .alumni1 {
    grid-area: a
  }
  .alumni2 {
    grid-area: b
  }
  .alumni3 {
    grid-area: c
  }
  .socialmedia .fb{
    margin: 1em;
  }
  .socialmedia .tw{
    margin: 1em;
  }
  .socialmedia .ins{
    margin: 1em;
  }
  .socialmedia .fb:hover {
  box-shadow: 2px 2px 2px 2px #888888;;
  }
  .socialmedia .tw:hover {
    box-shadow: 2px 2px 2px 2px #888888;;
    }
    .socialmedia .ins:hover {
      box-shadow: 2px 2px 2px 2px #888888;;
      }
  .cards {
    margin: 6px -10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "a a . s ."
    "a a . b ."
    "c d . b ."
    "c d . b ."
  }
  .cards li {
    border: none;
    padding: 20px;
    border-radius: 1px;
  }
  .socialmedia {
    grid-area: s
  }
  #socialbackground {
    background-color: white;

  }

  .mobileHide {
    grid-area: b;
  }

  .container {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    grid-area: a
  }

  .slideshow {
    padding-left:20px;
    padding-right:8px;
    padding-top: 8px;
    padding-bottom: 8px;
    grid-area: d;
  }

  @media screen and (max-width: 700px){
    .mobileHide {
      display: none;
    }
  }


  .events {
    display: flex;
    flex-direction: column;
    margin:5%;
    position: relative;
  }
  .event {
    margin-block-end: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 211, 129);
  }
  .event img {
    width: 40%;
    height: 40%;
    padding-top: 1.5em;
    margin:auto;

  }
  .event h3 {
    margin: 0;
    font-size: 35px;

  }
  .event .p {
    margin: 1em 1em;
  }
  .event p {
    margin: 1em 1em;
  }
  .timeline {
    display: flex;
    flex-direction: row;
  }
  .timeline {
    padding: 1em 1em 0em 1em;
  }
  .timeline p {
    margin: 2em 1em 0em 1em;
    padding: 0.3em;
    width: 20%;
    background-color: rgb(247, 211, 129);
  }
  .line {
    position: relative;
    width: 98%;
    height: 0px;
    display: block;
    border: 3px solid grey;
    top: 17px;
    margin: auto;
  }
  .mapcontainer{
    display: none;
  }
}
/*start tatum stuff for tips.html*/

div.tipcontainer {
  background-color: white;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: "white";
  width: 550px;
  width: 80%;
}

div.tipcontainer p {
  Color: black;
  font-style: italic;
  font-size: 0.7em;
}

@media (min-width: 600px) {
  .tipcontainer {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
}

.containerforalloftips {
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.containert1 {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 550px;
  width: 80%;
}

h6 {
  font-style: bold;
  font-size: 2em;
}

.tips_photos {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  Width: 100%;
  align-content: center;
}

.tips_photos img {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .tips_photos {
    display: none;
  }
}

/*end tatum stuff for tips.html*/
