p
{color: black}
body
{
  background-color: black;
  height: 100%;
}
p
{text-align: left;}
p
{font-family: }

div.container {
  padding:20px;
   border-color: : black;
   border-width: 6px;
   background-color: white;
   vertical-align:left;
   margin-left:auto;
   margin-right:auto;
   text-align:left;
   width: 700px;

}

}

/*lauren trying the nav bar again*/
*{
  font-family: verdana;
  margin: 0;
}




/*image size*/
.logo {
  width: 150px;
  float: left;
}
/*header and nav bar*/
div.header {
    padding: 60px;
    text-align: center;
    background: white;
    color: black;
}



}
/*nav bar style*/
body {margin: 0;}

ul.main_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.main_menu li {float: left;}

ul.main_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.main_menu li a:hover:not(.active) {

  background-color: #111;}

ul.main_menu li a.active {

  background-color: #4CAF50;}


@media screen and (max-width: 600px){
    ul.main_menu div.container,
    ul.main_menu li {float: none;}
}
.photos {}



  div.gallery {
    border: 4px
  }
