p {
  color: black;
  text-align: left;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

body {
  background-color: black;
  height: 100%;
}

#footer {
    text-align: center;
}

div.container {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 550px;
  width: 60%;
  font: black;
}

/*lauren trying the nav bar again*/

* {
  font-family: 'Raleway', sans-serif, 'Times New Roman';
  margin: 0;
}

/*image size*/

.logo {
  width: 5px;
  float: left;
}

/*header and nav bar*/

.header {
  padding: 10px;
  text-align: center;
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

.header img {
  float: left;
  width: 70px;
  height: 70px;
  padding-left: 50px;
}

.header h1 {
  padding: 20px;
  padding-left: 10px;
  position: center;
  top: 20px;
  left: 0px;
  font-size: 20px;
}

/*nav bar style*/

.menu-trigger {
  order: 1;
  float: left;
  padding-left: 10px;
  color: #F1B254;
  text-decoration: none;
  font-size: 1.75em;
  width: 2em;
}

#nav {
  display: none;
}

#nav ul {
  display: flex;
  flex-flow: column;
}

#nav li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
  list-style-type: none;
}
nav #nav li a{
  color:whitesmoke;
  text-decoration: none;
}
#nav li img {
  margin: 10px;
  width: 50px;
}

#nav a:link #nav a:visited {
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

#nav a:hover, #nav a:active {
  background-color: #9b9b9b;
}

.socialmedia {
  display: flex;
  justify-content: center;
}

.caption {
  text-align: center;
}

.humans_images img {
  width: 100%;
  height: 100%;
}

.humans_images a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.middle1 {
  position: absolute;
  top: 40%;
  left: 30%;
  background-color: #F1B254;
  padding: 1%;
}

.middle2 {
  position: absolute;
  top: 80%;
  left: 30%;
  background-color: #F1B254;
  padding: 1%;
}

.middle3 {
  position: absolute;
  top: 107%;
  left: 30%;
  background-color: #F1B254;
  padding: 1%;
}

.tips_photos img {
  width: 100%;
  height: 100%;
}

#navtips a:link, #navtips a:visited {
  display: block;
  color: white;
  background-color: black;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

#navtips a:hover, #navtips a:active {
  background-color: #FFC621;
}

#navtips {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

#bodytips {
  font-family: 'Raleway', sans-serif, 'Times New Roman';
}

#head {
  text-align: center;
  background: white;
  color: black;
  font-family: 'Raleway', sans-serif, 'Times New Roman';
  font-size: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 8px;
  padding-top: 8px;
}

.sociallogos {
  width: 20%;
  height: 20%;
  float: center;
}

/*Chengzi-history and events css*/

.headline {
  width: 100%;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.txt {
  color: #F1B254;
  vertical-align: middle;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: bold;
  padding: 0.5rem;
}

.line1 {
  position: absolute;
  width: 10%;
  height: 0px;
  display: block;
  border: 1px solid white;
  top: 17px;
  left: 0;
}

.line2 {
  position: absolute;
  width: 10%;
  height: 0px;
  display: block;
  border: 1px solid white;
  top: 17px;
  right: 0;
}

p {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 2% 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#activity {
  background-color: white;
  margin: 5%;
}

h3 {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
}

.time {
  font-style: italic;
}

.img {
  clear: both;
  display: block;
  margin: auto;
  width: 90%;
}

.map {
  clear: both;
  display: block;
  margin: auto;
  width: 90%;
  height: auto;
}

.h2 {
  background-color: white;
  text-align: center;
  font-family: 'raleway', sans-serif;
}

#footer {
  font-size: 12px;
  background-color: black;
  color: white;
}

/*Chengzi end*/

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  nav #nav {
    display: flex;
    flex-flow: column;
    background-color:#F1B254;
  }
  nav #nav li {
    border-top: none;
  }
  
  .menu-trigger {
    display: none;
  }
  header h1 {
    order: 1;
  }
  nav {
    order: 2;
  }
  .humans_images:hover .humansimages {
    opacity: 0.3;
  }
  .humans_images:hover .middle {
    size: 110%;
  }
  .middle1 {
    position: absolute;
    top: 60%;
    left: 45%;
  }
  .middle2 {
    position: absolute;
    top: 200%;
    left: 45%;
  }
  .middle3 {
    position: absolute;
    top: 295%;
    left: 45%;
  }
}
